body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
}

.checkbox-container {
    display: block;
    margin: 8px 0;
    font-size: 16px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px;
}

.apply-filter {
    margin-top: 16px;
    padding: 10px 16px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.apply-filter:hover {
    background-color: #0056b3;
}
.scrollable {
    max-height: 200px;  /* Chiều cao tối đa */
    overflow-y: auto;   /* Cuộn dọc */
    margin-bottom: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 0;
}
